body{ background: linear-gradient(#074206,#5ee855,#1e541d);}

.navbar-inverse {
    background-color: #1e541d;
    border-color: #080808;
}
.navbar{margin-bottom: 0px;}
.textbarra{margin: 0 0 0px;display: inline-block;color: white;}
.text-right{margin-bottom: 0px;}
#scrollon{padding-top:10px;margin-left:10px;color: white;}
#scrolloff{padding-top:10px;margin-left:10px;color: white;}
#scrollp{padding-top:15px;padding-bottom:15px;}
#logo{
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url("../img/cabecera.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: solid;
    border-color: #08420b;
}
.text-left{padding-bottom: 10px}
.logoimg {height: 100px;}
#search {width: 135px;}
#contenido{padding-right:0px;}
#contenido img{width: 99%; margin-right: 5px;}
#publicidad{display:none;}
#publicidadMovil{display: none;}
h6{font-size: 16px;font-family: 'Libre Baskerville', serif;color:black;}
h2{font-size: 36px;font-family: 'Fjalla One', sans-serif;color:black;}
h1{font-size: 60px;font-family: 'Fjalla One', sans-serif;color:black;}
h3{margin-top: 10px;font-size: 14px;}
#NoNews{background-color: rgba(0,0,0,.0000);display: none;}
#NoNews-center{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
a{color:black; text-decoration: none;}
a:hover, a:active {color: black; text-decoration: none;}
.thumbnail{border: 2px solid black;}
#noticia{padding:25px;}
#scrollon{display:none;}
.fa{font-size:70px;color:white;position: relative;top: 40%;}
#cargando{display: none;position: fixed;top: 0px;bottom: 0px;right: 0px;left: 0px;z-index: 1;background-color: rgba(23, 20, 20, 0.54);margin-bottom: 0px;}
.iframe{overflow:hidden;}
#anuncio{height: 280px; width:336px;overflow:hidden; border:0;}
#divcargar{width: 100%; display: inline-block;background-color: rgba(0,0,0,.0000);}
.icons{height: 25px;}
.modal-content{background-color: black;color: white;}
.close{color:white; opacity:1.0;}

@media screen and (min-width: 768px){
    #b{background-color:rgba(42,39,48,0.8)}    
    #contenido{width: calc(100% - 380px); }
    #publicidad{position:relative;float: right; width:340px;display: inline-block; height:284px;border-style: solid;border-width: 2px;border-color: #d2d2d2;}
    .navbar-brand{display:none;}
    .modal-lg {width: 95%;max-height: calc(100vh - 62px);}
    #imgmodal{max-height: calc(100vh - 170px);}
    .modal-body {padding: 0px;}
}

@media screen and (max-height: 550px){
	.modal-dialog{overflow:hidden;width: auto; height:100%;margin:1px}
	.modal-content{height:100%;}
	.modal-footer{display:none;}
	.modal-body{padding:0px;margin:0px;height: calc(100vh - 55px);}
	#imgmodal{height:95%;max-height: 100%;}
	.modal-lg {max-height: 100%;}
}

@media screen and (max-width: 767px){ 
    #publicidadMovil{display: inline-block; position:fixed;bottom: 0px;width: 100%; height:100px;padding-top: 2px;padding-bottom: 0px;margin-bottom: 0px;background-color: rgba(23, 20, 20, 0.54);}
    #anuncimovil{width: 320px; height: 100px;border:0;}
    .logoimg{height: 17vw;}
    .navbar-inverse .navbar-nav>.active>a{display:none;}
    #search{width: 100%;}
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {color: white;}
    #noticia{padding:3%;}
    #principal,#contenidorNoticia{margin-bottom: 100px;}
    #botonscroll1 {display: inline-block;}
    #botonscroll2 {display: inline-block;}
    #scrollp {padding-top: 10px;padding-bottom: 10px; padding-left: 20px;}
    #scrolloff {position: relative;top: 5px;padding-top: 0px;}
    #scrollon {position: relative;top: 5px;padding-top: 0px;}
    h2{font-size: 22px;}
    h1{font-size: 10vw;}
    #contenidor{padding-left: 0px; padding-right: 0px}
    .modal-dialog{overflow:hidden;width: auto; height:100%;margin:1px}
    .modal-content{height:100%;}
    .modal-footer{display:none;}
    .modal-body{padding:0px;margin:0px;}
    #imgmodal{max-height: calc(100vh - 62px);height:auto;}
}

